<%= form_with(model: [@chat, message], id: dom_id(message), class: "flex flex-row items-center justify-between gap-4 w-full h-16 rounded-tl-md rounded-tr-md border-l border-t border-r border-border transition-all duration-100 ease-in-out p-4 bg-sidebar", data: { controller: "form-disable" }) do |form| %>
  <%= form.select :llm_model_id,
                  options_from_collection_for_select(LlmModel.all, :id, :name),
                  {},
                  {
                    class: "w-28 bg-transparent text-text-primary text-sm border-0 focus:ring-0 focus:outline-none appearance-none pr-8 py-2 pl-2 cursor-pointer",
                  } %>
  <%= form.text_field :value,
              autocomplete: "off",
              placeholder: @chat.user.account.openrouter_key.blank? ?  "Add your open router key to chat" : "Prompt...",
              required: true,
              disabled: @chat.user.account.openrouter_key.blank?,
              data: { form_disable_target: "element" },
              class: "flex-1 rounded-md resize-none border-0 bg-chat-entry p-2 text-base text-text-primary placeholder-text-secondary focus:border-primary focus:outline-none focus:ring-0 overflow-y-auto"%>
  <div id="send-button">
    <%= render "messages/send_button", chat: @chat %>
  </div>
<% end %>
