<%= form_with(model: [@chat, message], id: dom_id(message), class: "flex flex-row items-center justify-between gap-4", data: { controller: "form-disable prompt" }) do |form| %>
  <%= form.text_area :body,
  {
                autocomplete: "off",
                placeholder: @chat.user.account.has_api_key? ? "Prompt..." : "Add your API key to chat",
                required: true,
                rows: 1,
                data: { form_disable_target: "element", action: "keydown->prompt#keydown input->prompt#resize" },
                class: "
                  flex-1 max-h-32 rounded-md resize-none border border-border bg-chat-entry p-2 text-base transition-all duration-200 text-text-primary placeholder-text-secondary focus:border-primary focus:outline-none focus:ring-0 overflow-y-auto
                  transition-colors duration-150 hover:bg-sidebar hover:border-primary
                "}.merge(disabled: !@chat.user.account.has_api_key?)
                %>
  <div id="send-button">
    <%= render "messages/send_button", chat: @chat %>
  </div>
<% end %>
