<div id="<%= @id %>" class="px-4 py-3 bg-chat-message rounded-lg border border-border max-w-xl self-start flex flex-col gap-2">
  <%= @msg %>
  <span class="font-thin text-sm"><%= @llm_model.model %></span>
</div>
