<button type="button" data-controller="toggle-button" data-action="toggle-button#toggle prompt#submit" class="
  flex items-center gap-2 rounded-full border border-border bg-chat-entry px-2 py-1 text-text-primary text-base font-medium cursor-pointer transition-colors duration-150 peer-checked:bg-primary peer-checked:text-white hover:bg-sidebar hover:border-primary
  data-[checked=true]:bg-primary data-[checked=true]:text-white data-[checked=true]:border-primary
  "
  data-checked="<%= @initial_checked %>"
  >
  <%= @form.check_box @attribute, class: "sr-only peer", data: {toggle_button_target: "checkbox"}, checked: @initial_checked %>
  <%= helpers.heroicon @icon, options: { class: "h-5 w-5 mr-1" } %>
  <%= @label %>
</button>
